.mission {
  position: absolute;
  background-color: #056839;
  height: 394px;
  width: 100%;
}

.group-one {
  position: absolute;
  margin: 43px 0px 0px 11.5%;
  width: 18.8%;
  height: 304px;
}

.group-two {
  position: absolute;
  margin: 43px 0px 0px 31.5%;
  width: 38.8%;
  height: 304px;
}

.group-three {
  position: absolute;
  margin: 43px 0px 0px 71.5%;
  width: 18.8%;
  height: 304px;
}
