.mission-container {
  background-color: #056839;
  height: 368px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group-one {
  width: 272px;
  height: 304px;
  object-fit: cover;
}

.group-two {
  width: 560px;
  height: 304px;
  margin-left: 16px;
  object-fit: cover;
}

.group-three {
  width: 272px;
  height: 304px;
  margin-left: 16px;
  object-fit: cover;
}

@media only screen and (max-width: 1150px) {
  .group-one {
    margin-left: 10px;
  }
  .group-two {
    width: 272px;
    height: 304px;
    margin-left: 16px;
  }

  .group-three {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 865px) {
  .mission-container {
    height: 336px;
  }
  .group-one {
    margin-left: auto;
  }
  .group-two {
    margin-left: auto;
  }
  .group-three {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 825px) {
  .group-one {
    width: 232px;
  }
  .group-two {
    width: 232px;
  }
  .group-three {
    width: 232px;
  }
}

@media only screen and (max-width: 720px) {
  .group-one,
  .group-two,
  .group-three {
    width: 190px;
    height: 204px;
  }
}

@media only screen and (max-width: 600px) {
  .mission-container {
    height: 708px;
    align-items: center;
    flex-direction: column;
  }

  .group-one,
  .group-two,
  .group-three {
    width: 232px;
    height: 210px;
  }
  .group-one,
  .group-two {
    margin: 0 0 16px 0;
  }

  .group-one {
    object-position: 50% 30%;
  }
  .group-two {
  }
  .group-three {
    object-position: 50% 25%;
  }
}
