{
  "extends": ["react-app", "airbnb", "prettier"],
  "parser": "@babel/eslint-parser",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    // "react/prop-types": "on",
    "react/forbid-prop-types": "off",
    "react/destructuring-assignment": "off",
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "import/prefer-default-export": 0,
    "semi": "error",
    "quotes": ["error", "double"],
    "max-len": ["warn", { "code": 180 }],
    "no-console": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never"
      }
    ],
    "no-restricted-syntax": ["off", "BinaryExpression[operator='in']"],
    "react/jsx-props-no-spreading": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["src", "./src"],
          ["pages", "./src/pages"],
          ["components", "./src/components"],
          ["shared", "./src/shared"],
          ["hooks", "./src/hooks"],
          ["queries", "./src/hooks/queries"],
          ["images", "./src/images"],
          ["styles", "./src/styles"]
        ],
        "extensions": [".js", ".jsx"]
      },
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
