.container {
  height: 431px;
  width: 100%;
}

.header-style {
  position: absolute;
  margin: 96px 0px 0px 10.5%;
  /* margin: 7% 0px 0px 10%; */
}

.title-style {
  position: absolute;
  margin: 126px 0px 0px 10.5%;
  /* margin: 9% 0px 0px 10%; */
}

.body-style {
  position: absolute;
  margin: 220px 0px 0px 10.5%;
  /* margin: 15% 0px 0px 10%; */
}
