.banner-container {
    position: relative;
    height: 100%;
    width: 100%;
    }

.banner-text{
    position: absolute;
    top: calc(4.17vw + 33px);
    left: calc(16.9vw - 45px);
    color: #FFF;
    font-size: calc(1.48vw + 18.7px);
    font-weight: 700;
    font-family: "Open Sans";
    line-height: calc(1.76vw + 28.7px);
    width: calc(48.1vw + 155px);
}

.banner-pic {
    height: calc(19.7vw + 329px);
    max-height: 613px;
    width: 100%;
    object-fit: cover;
}