.hero {
  position: relative;
}

.hero__image {
  height: calc(19.7vw + 329px);
  max-height: 613px;
}

.hero__title {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 200px;
  height: 67px;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  padding-right: 16px;
}

@media only screen and (min-width: 600px) {
  .hero__title {
    width: calc(0.251 * 100vw + 49.4px);
    height: calc(0.061 * 100vw + 30.4px);
    font-size: calc(0.02 * 100vw + 12px);
    line-height: calc(0.0226 * 100vw + 21.4px);
    padding-right: calc(0.019 * 100vw + 4.6px);
  }
}

@media only screen and (min-width: 1440px) {
  .hero__title {
    width: 411px;
    height: 118px;
    font-size: 40px;
    line-height: 54px;
    padding-right: 32px;
  }
}
