.navitems-container {
    align-items: center;
}

.nav-item {
    font-weight: 700;
    font-size: 16px;
    font-family: "Open sans";
    color: #000;
    padding-left: 32px !important;
    padding-right: 32px !important;
    padding-bottom: 32px;
    padding-top:32px;

}

.nav-item:hover{
    color: #056839;
    text-decoration: none;
}

.nav-item-active{
    color: #056839;
    text-decoration: none;
    border-bottom: 3px solid #056839;
}

.navbar-whole-container {
    max-height: 80px;
    padding-left: calc(12.6vw - 29.3px);
    padding-right: calc(12.6vw - 29.3px);
    justify-content: space-between;
    padding-bottom: 0px;
    padding-top: 0px;
}

.donate-button {
    border-radius: 30px;
    background-color: #FFDE15;
    height: 48px;
    width: 187px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Open sans";
    color: #000 !important;
    border: none;

}

.button-div {
    padding-top: 32px;
    padding-bottom: 32px;
}