.MuiAppBar-colorDefault {
  background-color: #fff;
}

.navitems-container {
  align-items: center;
}

.nav-item {
  max-height: 80px;
  font-weight: 700;
  font-size: 16px;
  font-family: "Open sans";
  color: #000;
  padding-left: 32px !important;
  padding-right: 32px !important;
  padding-bottom: 32px;
  padding-top: 28px;
  display: none;
}

.nav-item.nav-item--sidebar {
  display: block;
}

.nav-item:hover {
  color: #056839;
  text-decoration: none;
}

.nav-item-active {
  color: #056839;
  text-decoration: none;
  border-bottom: 3px solid #056839;
}

.navbar-whole-container {
  max-height: 80px;
  padding: 0 12px 0 12px;
}

@media only screen and (min-width: 1480px) {
  .navbar-whole-container {
    padding: 0 calc(12.6vw - 29.3px) 0 calc(12.6vw - 29.3px);
  }
}
@media only screen and (min-width: 1158px) {
  .nav-item {
    display: block;
  }

  .donate-button {
    margin-right: 0;
  }

  .button-div {
    margin-right: 0 !important;
  }

  .button-div .toggle-button {
    display: none;
  }
}

.donate-button {
  border-radius: 30px;
  background-color: #ffde15;
  height: 48px;
  width: 187px;
  font-weight: 700;
  font-size: 16px;
  font-family: "Open sans";
  color: #000 !important;
  border: none;
  display: none;
  margin-right: 16px;
}

.donate-button.donate-button--sidebar {
  margin-right: 0;
  position: absolute;
  bottom: 70px;
  display: block;
}

.nav-logo {
  height: 48px;
}

@media only screen and (min-width: 530px) {
  .donate-button {
    display: block;
  }

  .nav-logo {
    height: auto;
  }
}

.nav-close {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 16px;
  top: 16px;
}

.nav-copyright {
  position: absolute;
  bottom: 0px;
}

.button-div {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 26px;
}

.button-div .toggle-button path {
  fill: #056839;
}
