.wide-text__container {
  height: 400px;
  /* display: flex;
  align-items: center; */
}

.wide-text__text-style {
  position: absolute;
  margin-top: calc(2.96vw + 21.3px);
}

.who_were_serving__wide-text {
  height: 460px;

  /* transition: height 0.2s ease; */
}

@media only screen and (min-width: 380px) {
  .who_were_serving__wide-text {
    height: calc(-0.273 * 100vw + 563.74px);
  }
}

@media only screen and (min-width: 601px) {
  .who_were_serving__wide-text {
    height: 460px;
  }
}
