.spread-the-word {
  background-color: #fff9f5;
}
.spread-the-word__container {
  height: auto;
  padding-top: calc(2.96vw + 21.3px);
  padding-bottom: calc(2.96vw + 21.3px);
  display: flex;
  flex-direction: column;
  transition: flex 0.2s ease;
}

.spread-the-word__links-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0;
  transition: padding 0.2s ease, flex 0.2s ease;
}

.spread-the-word__links-content > a {
  color: #000;
  text-decoration: none;
}

.spread-the-word__link {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.spread-the-word__icon {
  width: 50px;
  height: 50px;
  margin-right: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #056839;
  color: #fff;
  font-size: 26px;
}

.spread-the-word__icon-text {
  font-weight: 700;
}

@media only screen and (min-width: 600px) {
  .spread-the-word__links-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 12px 0;
  }

  .spread-the-word__icon-text {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .spread-the-word__text-content {
    width: 70%;
    padding-right: 120px;
  }
  .spread-the-word__links-content {
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
  }

  .spread-the-word__icon-text {
    display: inline-block;
  }

  .spread-the-word__container {
    flex-direction: row;
  }
}
