.core-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 33px;
  background-color: #fff9f5;
}

.core-header {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: #056839;
}

.core-content {
  position: relative;
  justify-content: center;
  margin-top: calc(2.69vw - 1.67px);
}

.video {
  height: 293px;
  width: calc(21.8vw + 247px);
}

.content-text-container {
  width: calc(21.8vw + 252px);
  height: 284px;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #282828;
}

li {
  margin-top: 8px;
}

.impact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(-2.59vw + 92.3px);
  padding-bottom: 100px;
}

.impact-header {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: #282828;
}

.impact-button {
  background-color: #056839;
  border-radius: 30px;
  width: 316px;
  height: 48px;
  font-family: "Open Sans";
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  margin-top: 100px;
}

@media only screen and (max-width: 915px) {
  .core-container {
    justify-content: left;
  }
  .core-header {
    font-size: 26px;
    line-height: 41px;
    margin-left: calc(42vw - 135px);
  }
  .content-text-container {
    position: absolute;
    width: 600px;
  }
  .video {
    margin-top: 280px;
    width: 578px;
    height: 276px;
  }
  .impact-header {
    margin-top: -25px;
    font-size: 26px;
    line-height: 35px;
  }
}

@media only screen and (max-width: 600px) {
  .core-container {
    justify-content: left;
  }
  .core-header {
    line-height: 41px;
    margin-left: 16px;
  }
  .content-text-container {
    font-size: 14px;
    width: 95%;
  }
  .video {
    margin-top: calc(-55.1vw + 600px);
    width: 95%;
  }
  .impact-header {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    /* margin-top: -40px; */
    width: 90%;
  }
  .impact-button {
    width: 181px;
    height: 46px;
    font-size: 13px;
  }
}
