.main-container {
    background: #FFF9F5;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 96px 0 94px 0;
    /* height: 574px; */
}

.content-container {
    max-width: 944px;

}

.row-content {
    justify-content: center;
    display: flex;
    text-align: center;
}