.our-programs__container {
  height: 100%;
  width: 100%;
}

.our-programs__section-one,
.our-programs__section-two {
  flex-direction: "column";
}

.our-programs__section-one {
  margin-top: calc(2.96vw + 21.3px);
}

.our-programs__section-two {
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 130px;
  transition: padding 0.2s ease;
}
.our-programs__image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 204px;
  margin: 16px 0;
  transition: height 0.2s ease;
}

.our-programs__button {
  background-color: #056839;
  border-radius: 30px;
  width: 200px;
  height: 46px;
  font-family: "Open Sans";
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  margin: 0 auto;
  transition: all 0.2s ease;
}

@media only screen and (min-width: 600px) {
  .our-programs__button {
    margin: 0;
    font-size: 16px;
    width: 283px;
    height: 48px;
  }

  .our-programs__section-two {
    padding-bottom: 200px;
  }

  .our-programs__image {
    height: 304px;
  }
}

@media only screen and (min-width: 992px) {
  .our-programs__section-one,
  .our-programs__section-two {
    flex-direction: "row";
  }
  .our-programs__section-two {
    padding-bottom: 90px;
  }

  .our-programs__image-group {
    margin-left: 26px !important;
    min-width: 472px;
  }

  .our-programs__image-two-people {
    margin-right: 26px !important;
    min-width: 390px;
  }

  .our-programs__image {
    height: 304px;
    margin: 0;
  }

  .our-programs__section-two {
    margin-top: calc(2.96vw + 21.3px);
  }
}

@media only screen and (min-width: 1200px) {
  .our-programs__image-group {
    height: 352px;
    min-width: 547px;
  }

  .our-programs__image-two-people {
    height: 315px;
    min-width: 406px;
  }
}
